.action-bar{
  padding-left: 10px;

  button{
    color: var(--text-secondary-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2.5px;
    border-radius: 5px;
    mat-icon{
      display:flex;
      justify-content: center;
      align-items:center;
      font-size: 20px;
    }
    &:hover{
      background: var(--interactive-grey);
    }
  }
}
