.folder-structure{
 font-size: 12px!important;
button{
  color: var(--text-secondary-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  mat-icon{
    display:flex;
    justify-content: center;
    align-items:center;
  }
  &:hover{
    background: var(--interactive-grey);
  }
}
}
