<div class=" w-full h-[94%] flex flex-col justify-center items-center">
  <span class="text-3xl mb-4">Logowanie</span>
  <mat-form-field class="form-field w-[240px]" [color]=""  appearance="fill">
    <mat-label>Nazwa użytkownika</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="form-field w-[240px]" [color]=""  appearance="fill">
    <mat-label>Hasło</mat-label>
    <input matInput type="password">
  </mat-form-field>
  <mat-slide-toggle class="w-[240px]">Zapamiętaj dane logowania</mat-slide-toggle>
  <button class="primary-button rounded-sm mt-3 w-[240px]" mat-raised-button color="primary" type="button" (click)="logInUser()">Zaloguj się</button>
  <a class="text-xs mt-3" routerLink="/register">Nie masz jeszcze konta? Zarejestruj się</a>
</div>
